<div id="top-level">
	<div class="footer-info">
		<h3>Services</h3>
		<p>Furniture</p>
		<p>Mental Health</p>
		<p>Microblog</p>
		<p>Newsletter</p>
		<p>Membership</p>
	</div>
	<div class="footer-info">
		<h3>Information</h3>
		<p>Inspiration</p>
		<p>Vlogs</p>
		<p>Terms of Use</p>
		<p>Sign Up</p>
	</div>
	<div class="footer-info">
		<h3>Community</h3>
		<p>Patnership</p>
		<p>Teams</p>
		<p>About</p>
		<p>Privacy & Policy</p>
		<p>Contact</p>
	</div>
	<div class="footer-info">
		<h3>Get In Touch</h3>
		<p>
			Stay connected with us and let's know more updated for minimalist and more
			explorer us for the inspiration
		</p>
		<div>
			<div class="icons">
				<img width="100%" height="100%" src="/assets/icons/facebook-logo.svg" />
			</div>
			<div class="icons">
				<img width="100%" height="100%" src="/assets/icons/twitter-logo.svg" />
			</div>
			<div class="icons">
				<img
					width="100%"
					height="100%"
					src="/assets/icons/instagram-logo.svg"
				/>
			</div>
			<div class="icons">
				<img
					width="100%"
					height="100%"
					src="/assets/icons/pinterest-logo.svg"
				/>
			</div>
		</div>
	</div>
</div>
