<div id="top-level">
	<div class="right-img">
		<img src="/assets/photos/potted plant.png" />
	</div>
	<div class="left-img">
		<img src="/assets/photos/potted plant.png" />
	</div>
	<div class="details">
		<h1>PUT YOUR SOUL IN A CALM CONDITION</h1>
		<p>
			Not only placing furniture that supports a minimalist impression but your
			mental state also needs to be conditioned
		</p>
		<app-detail-tile
			[details]="
				'Ensure your mental health to be able to maximize a minimalist and serene lifestyle More know this'
			"
			[header]="'Mental Health'"
			[iconSrc]="'/assets/icons/health.svg'"
		>
		</app-detail-tile>
		<app-detail-tile
			[details]="
				'Add music in a style that fits the minimalist impression that is the same as what you like'
			"
			[header]="'Music Therapy'"
			[iconSrc]="'/assets/icons/music.svg'"
		></app-detail-tile>
	</div>
</div>
