<div id="navbar">
	<a>Minimal</a>
	<div id="navLinksLeft"></div>
	<div class="navLinks textBaseline">
		<a><p>Home</p></a>
		<a><p>Gallery</p></a>
		<a><p>Features</p></a>
		<a><p>About</p></a>
		<a><p>Contact</p></a>
	</div>
	<div id="navLinksRight"></div>
	<div class="authContainer">
		<button class="authButtons" id="loginButton">Login</button>
		<button class="authButtons" id="signUpButton">Sign Up</button>
	</div>
	<button
		id="navbarHamburger"
		class="hamburger hamburger--slider"
		[class]="isHamburgerOpened"
		type="button"
		(click)="toggleHamburger()"
	>
		<span class="hamburger-box">
			<span class="hamburger-inner"></span>
		</span>
	</button>
</div>
