#navbar {
	display: flex;
	align-items: baseline;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}

#navbar > :first-child {
	font-family: "Playfair Display";
	font-size: 1.56rem;
	font-weight: bold;
}

#navLinksLeft {
	flex-grow: 0.4;
}

.navLinks {
	display: flex;
	gap: 2vw;
}

.navLinks a {
	color: black;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}

.navLinks a:hover {
	color: white;
}

#navLinksRight {
	flex-grow: 0.6;
}

.navLinks a {
	font-size: 1.25rem;
	font-weight: normal;
	margin-top: auto;
	margin-bottom: auto;
}

.navLinks > :first-child {
	font-weight: bold;
}

.authContainer {
	display: flex;
	gap: 0.5rem;
}

.authButtons {
	border-radius: 2.5rem; /* Adjust the border-radius value for more or less rounding */
	font-size: 1.2rem;
	color: #5c645f;
	height: 3.125rem;
	width: 7.5rem;
	margin-top: auto;
	margin-bottom: auto;
}

#loginButton {
	background-color: transparent;
	border: 2px #aab1ac solid;
}

#signUpButton {
	background-color: #dfe2e0;
	border: 2px #dfe2e0 solid;
	font-weight: 570;
}

#navbarHamburger {
	float: right;
	position: relative;
}

#navbarHamburger ul {
	transition-duration: 0.15s;
	transition-timing-function: ease;
	position: absolute;
	text-align: right;
	list-style-type: none;
	right: -50px;
	opacity: 0;
	top: 32px;
	margin: 0;
	padding-left: 0px;
	padding-right: 0px;
}

#navbarHamburger ul.is-active {
	opacity: 1;
	right: 0px;
}

#navbarHamburger ul a {
	text-decoration: none;
	color: black;
	font-size: 1.5rem;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}

#navbarHamburger ul a:hover {
	color: white;
}

@media (min-width: 0px) {
	.navLinks {
		display: none;
	}
	.authContainer {
		display: none;
	}
	#navbar {
		align-items: center;
	}
}

@media (min-width: 768px) {
}
@media (min-width: 1024px) {
	.navLinks {
		display: flex;
	}
	#navbarHamburger {
		display: none;
	}
	.authContainer {
		display: flex;
	}
}
