<div id="hero-section-2">
	<div class="section-content">
		<h1>MORE NATURAL COMMON FURNITURE</h1>
		<p>
			Starting from changing various items at home to look simpler and made from
			natural materials that are environmentally friendly
		</p>
		<div id="detail-tile-1">
			<app-detail-tile
				[header]="'Home Furniture'"
				[details]="
					'We present a selection of home furniture to set or complete the minimalist feel in your home'
				"
				[iconSrc]="'/assets/icons/home.svg'"
			></app-detail-tile>
		</div>
		<div id="detail-tile-2">
			<app-detail-tile
				[header]="'Wall Interior'"
				[details]="
					'For those of you who want to make decorations on the walls of the house with a minimalist'
				"
				[iconSrc]="'/assets/icons/tab.svg'"
			></app-detail-tile>
		</div>
	</div>
	<img src="/assets/photos/chair.png" class="section-img" />
</div>
