#hero-img {
	width: 40%;
	object-fit: cover;
	object-position: top;
	margin-right: 3.75rem;
	display: none;
}

#hero-section {
	display: flex;
	flex-direction: row;
	margin-inline: 10vw;
	margin-bottom: 1.5rem;
	gap: 1.875rem;
}

.heroContent {
}

.heroContent h1 {
	font-family: "Playfair Display";
	font-size: 3rem;
	font-weight: bold;
	margin: 0;
}

.heroContent p {
	width: 70%;
	font-size: 16px;
	margin-bottom: 1.875rem;
}

.heroContent button {
	display: flex;
	background-color: transparent;
	align-items: baseline; /* Center the content vertically */
	padding-top: 0.9375rem;
	padding-bottom: 0.9375rem;
	border-radius: 1.875rem;
	border: 2px solid #717c75;
}

.heroContent button span {
	color: #313733;
	font-size: 20px;
	margin-left: 2.1875rem;
	margin-right: 2.1875rem;
	font-weight: 550;
}

#arrow-icon {
	width: 1.5625rem;
	margin-right: 0.3125rem;
	margin-top: auto;
	margin-bottom: auto;
}

@media (min-width: 1024px) {
	#hero-section {
		margin-bottom: 0rem;
	}
	#hero-img {
		visibility: visible;
		display: initial;
	}
	.heroContent {
		width: 60%;
	}
}
