<div id="hero-section">
	<img id="hero-img" src="/assets/photos/fern.png" />
	<div class="heroContent">
		<h1>SIMPLE FEEL WITH MINIMALIST STYLE</h1>
		<p>
			Make your lifestyle simpler with a simple and calm personality, here we
			try to present a relaxed minimalist style, with this it is very suitable
			to avoid yourself from excessive stress
		</p>
		<button type="button">
			<span>Get Started </span>
			<img id="arrow-icon" src="/assets/icons/arrow-right.svg" />
		</button>
	</div>
</div>
