<div id="top-level">
	<div class="tile-1">
		<div>
			<h2>QUIET DESIGN STYLE COLLECTION KIT</h2>
			<p>
				Choose a minimalist style that suits your taste, because here we present
				many styles and nuances of life
			</p>

			<button type="button">
				<span>Our Collection</span>
			</button>
			<hr />
		</div>
	</div>
	<div class="tile-2">
		<img src="/assets/photos/flower pot.png" width="100%" height="100%" />
	</div>
	<div class="tile-3">
		<div>
			<h2>CALM ART DESIGN</h2>
			<p>
				For those of you who prefer calm and want all situations to be simple
				then this is perfect
			</p>
			<hr />
		</div>
	</div>
	<div class="tile-4">
		<div>
			<h2>COMFORT STYLE</h2>
			<p>
				This style is suitable for those of you who live in the middle of the
				city with high mobility
			</p>
			<hr />
		</div>
	</div>
	<div class="tile-5">
		<img src="/assets/photos/doll.png" width="100%" height="100%" />
	</div>
</div>
